section h1 {
    margin-top: 15px;
    margin-bottom: 0;
}

section h5 {
    margin-top: 0;
}

img {
    width: 80px;
    float: left;
    margin-top: 4px;
    margin-right: 10px;
}

section div {
    float: left;
}

section {
    overflow: hidden;
    margin: 20px 0;
}

section#wealth-plus {
    margin-top: 60px;
}

.content-container {
    padding: 20px;
}

footer {
    font-size: 13px;
}
a {
    color: #5d55b4;
}
a:hover {
    color: #2C294F;
}

@media screen and (min-width: 960px) {
    .content-container {
        width: 960px;
        margin: 0 auto;
    }
}